body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');}
  /* DISABLED FONT DEFAULT */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
