body {
    margin: 0;
    background-color: #ffffff;
    font-family: Helvetica;
}

@font-face {
    font-family: "Helvetica";
    src: local("Helvetica"), url("./fonts/Helvetica.ttf") format("truetype");
    font-weight: normal;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}